body {
	text-align: center;
}
a {
	text-decoration: none;
	font-family: raleway;
	font-color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}
h1,h2,h3,a {
	text-transform: uppercase;
}
h1 {
	font-family: raleway;
	font-color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
h2 {font-family: raleway;
	font-color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p {font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
